body{
  background-color: rgb(227, 227, 227);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*fraction*/
}

.section1 {
  background-image: url("Media/Mask 1.png");
  background-repeat: no-repeat;
  margin-left: 5vw;
  height: 40rem;
  overflow: auto;
  border-radius: 25px;

}

.section1::-webkit-scrollbar {
  display: none;
}

.section2 {
  background-image: url("Media/Mask 2.png");
  background-repeat: no-repeat;
  margin: 5vw;
  height: 40rem;
  overflow: auto;
  border-radius: 25px;
}

.section2::-webkit-scrollbar {
  display: none;
}

.section3 {
  background-image: url("Media/mask 3 .png");
  background-repeat: no-repeat;
  margin: 5vw;
  height: 40rem;
  overflow: auto;
  border-radius: 25px;
}

.section3::-webkit-scrollbar {
  display: none;
}

.text{
  margin-top:33rem;
  padding: 2em;
  background-color: rgba(199, 199, 199, 0.5);
  border-radius: 30px;
  /* filter: blur(4px); */
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}



h1{
  color: white;
}


/* .box{
  background-color: rgba(199, 199, 199, 0.5);
  border-radius: 30px;
  margin-top:33rem;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
} */

#rightgear {
  right: 2rem;
  position: fixed;
  bottom: 2rem;
}

.title {
  /* left: 1rem; */
  position: fixed;
  top: 1rem;
}


@media (max-width: 768px) { /*breakpoint*/
  .container {
    grid-template-columns: none;
  }

  .section1 {
    width: 100%;
    margin-top: 10vh;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .section2 {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .section3 {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }
  }
